@model GiftOfGivers_WebApplication.Models.Donation

@{
    ViewData["Title"] = "Donation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Donation Details</h1>

<dl class="row">
    <dt class="col-sm-2">DonationID</dt>
    <dd class="col-sm-10">@Model.DonationID</dd>

    <dt class="col-sm-2">Amount</dt>
    <dd class="col-sm-10">@Model.Amount</dd>

    <dt class="col-sm-2">Type</dt>
    <dd class="col-sm-10">@Model.Type</dd>

    <dt class="col-sm-2">Date</dt>
    <dd class="col-sm-10">@Model.Date</dd>
    
</dl>

<a asp-action="Edit" asp-route-id="@Model.DonationID" class="btn btn-warning">Edit</a> <a asp-action="Index" class="btn btn-secondary">Back</a>
