@model GiftOfGivers_WebApplication.Models.ResourceTracking

@{
    ViewData["Title"] = "Resource Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resource Details</h1>

<dl class="row">
    <dt class="col-sm-2">ResourceID</dt>
    <dd class="col-sm-10">@Model.ResourceID</dd>

    <dt class="col-sm-2">ReliefProjectID</dt>
    <dd class="col-sm-10">@Model.ReliefProjectID</dd>

    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Quantity</dt>
    <dd class="col-sm-10">@Model.Quantity</dd>

    <dt class="col-sm-2">Unit</dt>
    <dd class="col-sm-10">@Model.Unit</dd>
    
</dl>

<a asp-action="Edit" asp-route-id="@Model.ResourceID" class="btn btn-warning">Edit</a> <a asp-action="Index" class="btn btn-secondary">Back</a>
