@model GiftOfGivers_WebApplication.Models.IncidentReport

@{
    ViewData["Title"] = "Incident Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Incident Details</h1>

<div class="mb-3">
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>

        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</dd>
    </dl>
    
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.IncidentID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
